<!-- app.component.html -->
<form (ngSubmit)="onSubmit()">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="usuaio.nombre" required>
  <label for="nombre">Apellido:</label>
  <input type="text" id="apellido" name="apellido" [(ngModel)]="usuaio.apellido" required>
  <label for="nombre">Cargo:</label>
  <input type="text" id="cargo" name="cargo" [(ngModel)]="usuaio.cargo" required>
  <label for="nombre">Correo:</label>
  <input type="text" id="correo" name="correo" [(ngModel)]="usuaio.correo" required>
  <label for="nombre">Edad:</label>
  <input type="text" id="edad" name="edad" [(ngModel)]="usuaio.edad" required>


  <button type="submit">Enviar</button>
</form>
